  <form class="work-add recipe-add b-wrap960" id='post-form' method="POST" enctype="multipart/form-data">{% csrf_token %}

    <h2>Добавление фотографии</h2>
    <h5>Выбери свое релакс-селфи</h5>
    {{ form.image.errors }}
    <div class="custom-file">
      <span class="btn btn-file">
        <span class="btn-label">Выбрать фото</span>
        <span class="overflow">
          <input id="photo" type="file" name="image" accept="image/jpeg,image/pjpeg,image/png"> 
        </span>
      </span>
      <span class="filename"></span>
    </div>
    <p class="custom-file-info">
      Напоминаем, что на твоем фото должна присутствовать ты, желательно 
      в момент отдыха. Кроме того, обрати внимание, что к участию в конкурсе мы принимаем фото весом не более 1 мегабайта.
    </p>

    <h5>Название фото</h5>
    {{ form.name.errors }}
    <input class="work-title" type="text" name="name" placeholder="Назови свое селфи">

    <h5>Опиши фото и расскажи о нём</h5>
    {{ form.text.errors }}
    <textarea class="work-description" name="text" placeholder="Поделись своим способом отдыха и расскажи о фото"></textarea>

    <div class="btns">
      <div class="custom-cb">
        <input id="rules" type="checkbox">
        <label for="rules" name="rules">
          Я согласна с <a href="{{ STATIC_URL }}rules.pdf" class="rules-link">правилами конкурса</a>
        </label>
      </div>
      <button class="btn btn-submitwork send-post-button">Отправить</button>
    </div>

  </form><!--/ .work-add.recipe-add -->
