<form class="work-add recipe-add b-wrap960" id='post-form' method="POST" enctype="multipart/form-data">{% csrf_token %}

    <h2>Добавление рецепта</h2>
    <h5>Выбери фотогрaфию блюда</h5>
    {{ form.image.errors }}
    <div class="custom-file">
      <span class="btn btn-file">
        <span class="btn-label">Выбрать фото</span>
        <span class="overflow">
          <input id="photo" type="file" name="image" accept="image/jpeg,image/pjpeg,image/png">
        </span>
      </span>
        <span class="filename"></span>
    </div>
    <p class="custom-file-info">
        Напоминаем, что твое блюдо должно содержать хотя бы один из ключевых ингридиентов D’oliva, перечисленных ниже. Кроме того, обрати внимание, что к участию в конкурсе мы принимаем фото весом не более 1 мегабайта.
    </p>

    <h5>Выбери основной растительный компонент блюда</h5>
    {{ form.ingridient.errors }}
    <div class="dropdown">
        <input type="hidden" class="input-h-ingridient" name="ingridient" value="{{ form.fields.ingridient.choices.0.0 }}">
        <span class="dropdown__current">{{ form.fields.ingridient.choices.0.1 }}</span>
        <ul class="dropdown__items opened" style="display: none; top: 49px;">
            {% for k,v in form.fields.ingridient.choices %}
                <li class="dropdown__item" data-val="{{ k }}">
                    {{ v }}
                </li>
            {% endfor %}
        </ul><!-- /.dropdown__items -->
    </div>

    <h5>Название блюда</h5>
    {{ form.name.errors }}
    <input class="work-title" type="text" name="name" placeholder="Дайте название">

    <h5>Опишите блюдо и не забудте дать рецепт</h5>
    {{ form.text.errors }}
    <textarea class="work-description" name="text" placeholder="Расскажите интерсно о своём блюде"></textarea>

    <div class="btns">
        <div class="custom-cb">
            <input id="rules" type="checkbox">
            <label for="rules" name="rules">
                Я согласна с <a href="{{ STATIC_URL }}rules.pdf" class="rules-link">правилами конкурса</a>
            </label>
        </div>
        <button class="btn btn-submitwork send-post-button">Отправить</button>
    </div>

</form><!--/ .work-add.recipe-add -->
