{% load thumbnail contest_tags %}

{% block meta %}
    <meta property="og:url" content="{% url contest_work work.id %}" />
    <meta property="og:title" content="{{ work.name }} в конкурсе D'Oliva" />
    <meta property="og:description" content="Проголосуйте за мой рецепт на конкурсе D'Oliva!" />
    {% thumbnail work.image "200x200" crop="center" as im %}
    <meta property="og:image" content="http://doliva.wmj.ru{{im.url}}" />
    {% endthumbnail %}
{% endblock %}

{% if not work.is_published %}
  <section class="after-work-add b-wrap960">
    <h2>Рецепт «{{ work.name }}» почти размещен!</h2>
    <p>
      Ваше рецепт отправлено на модерацию. А пока вы можете посмотреть другие рецепты и продолжить участие<br> 
      в других конкурсах проекта вместе с D’oliva.
    </p>
    <h4>А вот так будет выглядеть ваш рецепт после размещения</h4>
  </section>
{% endif %}  
  
<div class="work-full-wrap b-wrap960">
    <section class=" work-full repice-work-full">
        <div class="work__author">
            {% with work.user.get_profile as profile %}
            <div class="work__avatar">
                {% if profile.avatar %}
                    {% thumbnail profile.avatar "69x69" crop="center" as im %}
                    <img src="{{ im.url }}" class="avatar__img">
                    {% endthumbnail %}
                {% else %}
                    <img src="{{ STATIC_URL }}images/user-avatar.jpg" class="avatar__img">
                {% endif %}
            </div>            
            {% endwith %}
        <span class="work__username">
          {% if work.user.get_full_name %}{{ work.user.get_full_name|wordwrap:"1"|linebreaksbr }}{% else %}{{ work.user }}{% endif %}
        </span>
            <time datetime="{{ work.date_added|date:'Y-m-d' }}">
              {{ work.date_added|date:'j E Y' }}
            </time>
        </div><!--/ .work__author -->

        <div class="work-pic-wrap">
            <div class="work-pic-inner">
            {% thumbnail work.image "599" as im %}
            <img src="{{ im.url }}" class="work-pic">
            {% endthumbnail %}
            </div>
        
            {% if work.is_published %}
            <div class="work-full__likes">
                <button class="btn btn-like vote-button" data-url="{% url contest_vote work.id %}">
                    <span class="btn-like__count">
                      <strong>{% if work.count_votes %}+{% endif %}<span id="vote-count-{{work.id}}">{{ work.count_votes }}</span></strong>
                    </span>
                    <span class="btn-like__label">Мне нравится рецепт</span>
                </button>

                <div class="social-share">
                    <span class="share-label">Поделись рецептом —</span>
                    <a href="http://vk.com/share.php?url=http://doliva.wmj.ru{% url contest_work work.id %}" target="_blank" class="share-for vk" title="вконтакте"></a>
                    <a href="http://www.facebook.com/sharer.php?u=http://doliva.wmj.ru{% url contest_work work.id %}" target="_blank" class="share-for fb" title="facebook"></a>
                    <a href="https://twitter.com/intent/tweet?url=http://doliva.wmj.ru{% url contest_work work.id %}&text=Проголосуйте%20за%20мой%рецепт%20в%20конкурсе%20D'oliva!" target="_blank" class="share-for tw" title="twitter"></a>
                    <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&amp;st.s=1&amp;st._surl=http://doliva.wmj.ru{% url contest_work work.id %}" target="_blank" class="share-for ok" title="одноклассники"></a>
                </div>

            </div><!--/ .work__likes -->
            {% endif %}

        </div>

        <h3 class="work-name">{{ work.name }}</h3>
        <p class="recipe-component">
            Основной растительный компонент:
            <a href="#" target="_blank" class="component__link">{{ work.extra_field_values.ingridient }}</a>
        </p>

        <h4>Рецепт приготовления и описание</h4>
        <p class="work-description">
            {{ work.text|safe|linebreaksbr }}
        </p>

    </section><!--/ .work-full.repice-work-full -->
</div><!--/ .work-full-wrap -->

{% if work.is_published %}
<div class="b-wrap960">
    <div class="work-full__likes standalone-likes">
        <button class="btn btn-like vote-button" data-url="{% url contest_vote work.id %}">
        <span class="btn-like__count">
          <strong>{% if work.count_votes %}+{% endif %}<span id="vote-count-{{work.id}}">{{ work.count_votes }}</span></strong>
        </span>
            <span class="btn-like__label">Мне нравится рецепт</span>
        </button>

        <div class="social-share">
            <span class="share-label">Поделись рецептом —</span>
            <a href="http://vk.com/share.php?url=http://doliva.wmj.ru{% url contest_work work.id %}" target="_blank" class="share-for vk" title="вконтакте"></a>
            <a href="http://www.facebook.com/sharer.php?u=http://doliva.wmj.ru{% url contest_work work.id %}" target="_blank" class="share-for fb" title="facebook"></a>
            <a href="https://twitter.com/intent/tweet?url=http://doliva.wmj.ru{% url contest_work work.id %}&text=Проголосуйте%20за%20мой%рецепт%20в%20конкурсе%20D'oliva!" target="_blank" class="share-for tw" title="twitter"></a>
            <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&amp;st.s=1&amp;st._surl=http://doliva.wmj.ru{% url contest_work work.id %}" target="_blank" class="share-for ok" title="одноклассники"></a>
        </div>

    </div><!--/ .work__likes -->
</div><!--/ .b-wrap960 -->
{% endif %}

{% other_works contest.id 6 %}
