{% load thumbnail %}
{% if works.count > 4 %}
<section class="works-slider">

    <h3>{% if contest.id == 2 %}Посмотри другие интересные рецепты{% endif %}{% if contest.id == 3 %}Больше интересных селфи{% endif %}</h3>
    <button class="work-prev"></button>
    <button class="work-next"></button>

    <div class="works-slides-wrap">
        <div class="works-slides-inner">
        <div class="works-slides">

            {% for work in works %}
            <div class="work-slide">
            <div class="work {% if contest.id == 2 %}recipe-work{% endif %}{% if contest.id == 3 %}relax-work{% endif %}">
                <div class="work__author">
                    {% with work.user.get_profile as profile %}
                    <div class="work__avatar">
                        {% if profile.avatar %}
                            {% thumbnail profile.avatar "69x69" crop="center" as im %}
                            <img src="{{ im.url }}" class="avatar__img">
                            {% endthumbnail %}
                        {% else %}
                            <img src="{{ STATIC_URL }}images/user-avatar.jpg" class="avatar__img">
                        {% endif %}
                    </div>            
                    {% endwith %}
                    <span class="work__username">
                        {% if work.user.get_full_name %}{{ work.user.get_full_name|wordwrap:"1"|linebreaksbr }}{% else %}{{ work.user }}{% endif %}
                    </span>
                    <time datetime="{{ work.date_added|date:'Y-m-d' }}">
                      {{ work.date_added|date:'j E Y' }}
                    </time>
                </div><!--/ .work__author -->

                <a href="{% url contest_work work.id %}">
                    {% thumbnail work.image "261x190" crop="center 15%" as im %}
                    <img src="{{ im.url }}" class="work__photo">
                    {% endthumbnail %}
                    <h6 class="work__title">{{ work.name }}</h6>
                </a>

            </div><!--/ .work.recipe-work -->
            </div><!--/ .work-slide -->
            {% endfor %}            

        </div><!--/ .works-slides -->
        </div><!--/ .works-slides-inner -->
    </div><!--/ .works-slides-wrap -->

</section><!--/ .works-slider -->
{% endif %}