{% extends "default/base.html" %}

{% block class %}page-inner{% endblock %}

{% block content %}
  <header id="header">
    <div class="b-wrap960">
      <a href="/" class="doliva-logo">D'oliva</a>

      {% include 'auth_card.html' %}
      
      <nav class="navi header__navi">
        
        <div class="navi__item navi__item-yellow {% if contest.id == 1 %}current{% endif %}">
          {% if contest.id == 1 and article %}  
          <a class="go-back">Тест-драйв</a>
          {% endif %}
          <span class="navi__number">
            <em class="navi__number-dig">1</em>
          </span><!--/ .navi__number -->
          <a href="{% url contest_list 1 %}" class="navi__link">
            Правильный уход
          </a>
        </div><!--/ .navi__item -->

        <div class="navi__item navi__item-red {% if contest.id == 2 %}current{% endif %}">
            {% if contest.id == 2 and form %}
            <a class="go-back">Загрузка рецепта</a>
            {% endif %}
          <span class="navi__number">
            <em class="navi__number-dig">2</em>
          </span><!--/ .navi__number -->
          <a href="{% url contest_list 2 %}" class="navi__link">
            Здоровое питание
          </a>
        </div><!--/ .navi__item -->

        <div class="navi__item navi__item-blue {% if contest.id == 3 %}current{% endif %}">
          {% if contest.id == 3 and form %}
          <a class="go-back">Загрузка фотографии</a>
          {% endif %}
          <span class="navi__number">
            <em class="navi__number-dig">3</em>
          </span><!--/ .navi__number -->
          <a href="{% url contest_list 3 %}" class="navi__link">
            Внутренняя гармония
          </a>
        </div><!--/ .navi__item -->

      </nav><!--/ .navi.footer__navi -->

    </div><!--/ .b-wrap960 -->
  </header><!--/ #header -->
  
  {% block content_inner %}
  {% endblock %}
  
  <div class="b-wrap960">
    <a href="#" class="pharma-logo"></a>
  </div><!--/ .b-wrap960 -->

  <footer id="footer">
    <div class="b-wrap960">

      <nav class="navi footer__navi">
        
        <div class="navi__item navi__item-yellow {% if contest.id == 1 %}current{% endif %}">
          {% if contest.id == 1 and article %}  
          <a class="go-back">Тест-драйв</a>
          {% endif %}
          <span class="navi__number">
            <em class="navi__number-dig">1</em>
          </span><!--/ .navi__number -->
          <a href="{% url contest_list 1 %}" class="navi__link">
            Правильный уход
          </a>
        </div><!--/ .navi__item -->

        <div class="navi__item navi__item-red {% if contest.id == 2 %}current{% endif %}">
            {% if contest.id == 2 and form %}
            <a class="go-back">Загрузка рецепта</a>
            {% endif %}
          <span class="navi__number">
            <em class="navi__number-dig">2</em>
          </span><!--/ .navi__number -->
          <a href="{% url contest_list 2 %}" class="navi__link">
            Здоровое питание
          </a>
        </div><!--/ .navi__item -->


        <div class="navi__item navi__item-blue {% if contest.id == 3 %}current{% endif %}">
          {% if contest.id == 3 and form %}
          <a class="go-back">Загрузка фотографии</a>
          {% endif %}
          <span class="navi__number">
            <em class="navi__number-dig">3</em>
          </span><!--/ .navi__number -->
          <a href="{% url contest_list 3 %}" class="navi__link">
            Внутренняя гармония
          </a>
        </div><!--/ .navi__item -->


      </nav><!--/ .navi.footer__navi -->


    <a class="wmj-logo" href="http://www.wmj.ru" target="_blank"></a>
    <p class="copyright">
      По всем вопросам, связанным с проведением конкурса, пишите на <a href="mailto:special@webprimegroup.ru?subject=Вопрос%20по%20поводу%20конкурса%20Doliva" class="mailto">special@webprimegroup.ru</a>
      <br>
      © 2005-2014, «WomanJournal» «Женский Интернет-журнал». 
      <br>
      Свидетельство о регистрации СМИ Эл № ФС77-54171 от 17.05.2013 г.
      <br>
      Сайт может содержать контент, запрещенный для просмотра лицам до 16 лет.
    </p>
    </div><!--/ .b-wrap -->
  </footer><!--/ #footer-->
{% endblock %}