{% extends "base_inner.html" %}

{% block content %}
  <section class="start-quiz">
    <h3>испытай себя!</h3>
    <div class="start-quiz__inner">
      <h4>Как много вам известно об окрашиваниии волос?</h4>
      <p>
        Рекомендации экспертов SYOSS, как стать брюнеткой, блондинкой или рыжеволосой красавицей, 
        мы уверены, вы прочли и запомнили назубок. Проверьте себя с помощью несложного теста: 
        получится ли из вас профессиональный колорист? Небольшая подсказка: 
        ответы на все вопросы можно найти как в статьях нашего проекта, так и на официальном сайте <a href="http://www.syoss.ru" target="_blank">www.syoss.ru</a>.
        <br><br>
        Желаем удачи!
      </p>
      <a href="{% url quiz %}" class="btn btn-big">Начать тест</a>
    </div>
  </section><!--/.start-quiz-->
{% endblock %}